---
layout: page
---
{{content}}

{% assign autores = site.leituras | group_by: 'autor' %}
{% assign autoresOrdenados = autores | sort: 'name' %}

<table class="table-center">
    <tr>
        <th>Título</th>
        <th>Autor(a)</th>
        <th>Série</th>
        <th>Volume</th>
        <th>Status</th>
        <th>Nota</th>
    </tr>
    {% for autor in autoresOrdenados %}
        {% assign series = autor.items | group_by: 'serie' %}
        {% assign seriesOrdenadas = series | sort: 'name' %}
        {% for serie in seriesOrdenadas %}
            {% assign livros = serie.items | sort: 'volume' %}
            {% for livro in livros %}
            <tr>
                <td>
                    {% if livro.revisado %}
                        <a href="{{livro.post}}">{{livro.title}}</a>
                    {% else %}
                        {{livro.title}}
                    {% endif %}
                </td>
                <td>{{livro.autor}}</td>
                <td>{{livro.serie}}</td>
                <td>{{livro.volume}}</td>
                <td>{{livro.status | capitalize}}</td>
                <td>{{livro.nota}}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</table>